@{
    ViewBag.Title = "Image";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/administrator/image.js"></script>
}  

<div style="margin-bottom:10px;margin-top:10px;padding-left:10px;">
    <button class="btn btn-default" data-toggle="modal" data-target="#categoryModal">新增分类</button>
</div>

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="width:60px;"></th>
            <th>分类</th>
            <th>图片</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
