@{
    ViewBag.Title = "Image";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/plupload/plupload.full.min.js"></script>
    <script src="~/Scripts/administrator/image.js"></script>
  
}  
<style>
    .progress {
        height: 4px;
        font-size: 0;
        line-height: 4px;
        background: orange;
        width: 0;
    }
 </style>


<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="width:60px;"></th>
            <th>分类</th>
            <th>图片</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div style="margin-bottom:10px;margin-top:10px;padding-left:10px;padding-top:10px;border-top:2px solid #428bca;">
    <div>
        <label>分类</label><select name="upload-category" data-bind="options: categorys, optionsText:'Name', optionsValue:'Id', value: uploadSeletedCategory"></select>
    </div>
    <div>
        <button class="btn btn-default" data-toggle="modal" data-target="#categoryModal" id="loadImage">选择图片(最大2M)</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#categoryModal" id="start_upload">开始上传</button>
    </div> 
</div> 
<div id="file-list"></div> 