@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
} 

<div class="bs-docs-header" id="content" tabindex="-1" style="margin-top:30px;">
    <div class="container">
        <h1>知行创意后台管理</h1>
        <p>新建作品分类，上传管理作品图片。</p>  
    </div>
</div>